<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
    <key>NSCameraUsageDescription</key>
    <string>我们需要使用相机来拍摄物品照片，以便进行AI识别和记录。</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>我们需要访问您的相册来选择物品照片。</string>
</dict>
</plist>
